@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	/* box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15); */
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.image-a{
  width: 100%;
  height: 100%;
}
/* logo */
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.cart-button{
  border: 0px ;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.bg-light {
	background-color: #efefef !important;
    transition: all 200ms linear;
}

.over-hide {
    overflow: hidden;
}

@media (max-width: 767px) { 
	
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		/* vertical-align: 0; */
	
	}
}
/* 出品button */
.syuppin_button{
padding:  5px 20px !important;
	border-radius: 10px;
	background: #ff5555;
	align-self: center;
	font-size: 16px;
	letter-spacing: 1px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}
.syuppin_button:hover {
	background: #E03A3A;
  }
  
  .syuppin_button:active {
	transform: scale(1.025);
  }
/* 出品button */

/* cart num display */
.shiva{
	position: absolute;
	width: 30px;
	  height: 30px;
	  background: rgb(255, 73, 73);
	  top: 0px;
	  border-radius: 50px;
  }
  .count{
	position: absolute;
	/* line-height: 5px; */
	top: 4px;
	left: 10px;
	color:rgb(0, 0, 0);
  
	/* margin-left:13px; */
	font-size:25px;
  }
/* cart num display */

/* under tabmenu */

.tabmenu-wrap {
    /* padding: 0px  6%; */
width: 100%;
  }
  .tabmenu-wrap .tab-nav {
    display: table;
    width: 100%;
    background-color: #efefef;
  }
  .tabmenu-wrap .tab-nav .nav {
    display: table-cell;
    width: 50px;
  }
  .tabmenu-wrap .tab-nav .nav a {
    transition: 0.4s;
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #9b9b9b;
    text-align: center;
    border-bottom: 1px solid #ebe5da;
    padding-bottom: 15px;
    text-decoration: none;
  }
  .tabmenu-wrap .tab-nav .nav a:after {
    content: "";
    transition: 0.4s;
    width: 0px;
  }
  .tabmenu-wrap .tab-nav .nav.on a {
    color: #172349;
  }
  .tabmenu-wrap .tab-nav .nav.on a:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 3px;
    background-color: #172349;
  }
  .tabmenu-wrap .tab-con {
    /* padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px; */
    /* padding: 15px 10px; */
  }
  .tabmenu-wrap .tab-con .con-box {
    display: none;
    margin: 2.5% 1.5% ; 
  }
  .tab-con{
    /* width: 100%; */
  }
  /* under sort button */
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  
  .modal-container .modal-btn {
    display: block;
  position: absolute;
  top: 60px;
  right: 0px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #446CB3;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in;
  }
  .modal-container .modal-btn:hover {
    background: #365690;

  }
  .modal-container .modal-content,
  .modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .modal-container .modal-closee {
    color: #aaa;
    position: absolute;
    right: 30px;
    top: 15px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  .modal-container .modal-closee:hover {
    color: #333;
  }
  .modal-container .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #446CB3;
    color: #fff;
    width: 70px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
  }
  .modal-container .modal-content-btn:hover {
    color: #fff;
    background: #365690;
  }
  .modal-container #modal-toggle {
    display: none;
  }
  .modal-container #modal-toggle.active ~ .modal-backdrop, .modal-container #modal-toggle:checked ~ .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    max-width: 400px;
    width: 400px;
    height: 280px;
    padding: 10px 30px;
    position: fixed;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  }
  @media (max-width: 400px) {
    .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
      left: 0;
    }
  }
  .header_matome{
    display: flex;
  }

  /* under checkbox */
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox],
  input[type=radio] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type=checkbox]:after,
  input[type=radio]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type=checkbox]:checked,
  input[type=radio]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type=checkbox]:disabled,
  input[type=radio]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
      cursor: not-allowed;
    }
    input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    input[type=checkbox]:focus,
  input[type=radio]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
      width: 21px;
    }
    input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
      opacity: var(--o, 0);
    }
    input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
      --o: 1;
    }
    input[type=checkbox] + label,
  input[type=radio] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  
    input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
    input[type=checkbox].switch {
      width: 38px;
      border-radius: 11px;
    }
    input[type=checkbox].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    input[type=checkbox].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    input[type=checkbox].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }
  
    input[type=radio] {
      border-radius: 50%;
    }
    input[type=radio]:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    input[type=radio]:checked {
      --s: .5;
    }
  }
  .checkul {
    margin: 12px;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 320px;
  }
  .checkli {
    margin: 16px 0;
    position: relative;
  }
  .checkbox {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  
  .chechbox {
    min-height: 100vh;
    font-family: "Inter", Arial, sans-serif;
    color: #8A91B4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F8FF;
  }
  @media (max-width: 800px) {
    .checkbox{
      flex-direction: column;
    }
  }

  /* under goods */
  .goods {
    background: #eee;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 5px; */
    justify-content: center;
  }
  
  .list--item {
    position: relative;
    z-index: 2;
    width: 20%;
    float: left;
    /* padding: 10px; */
    display: flex;
  }
  .list--item_div{
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
  }
  .list--item img {
    max-width: 315px;
    max-height: 315px;
    display: block;
    width: 100%;
    mix-blend-mode: multiply;
  }
  .list--item figcaption {
    padding: 6px 12px 12px;
    font-size: 12px;
    color: #444;
  }
  .list--item header, .list--item figcaption {
    padding-left: 5%;
    text-decoration: none;
  }
  .header_price{
    width:100%;
  }
  .list--item header {
    margin-top: 12px;
  }
  .list--item h2 {
    font-size: 14px;
    padding: 0 0 0;
    margin: 0;

  }
  
  .floater {
    width: 20%;
    height: 50px;
    background: orange;
    position: absolute;
    left: 0;
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 90%;
    }
  
    .list--item {
      width: 19%;
      padding: 5px;
    }
  }
  @media screen and (max-width: 768px) {
    .list--item {
      width: 33%;
    }
  }
  @media screen and (max-width: 620px) {
    .list--item {
      width: 50%;
    }
  }
  @media screen and (max-width: 480px) {
    .list--item {
      width: 100%;
    }
  }
/* footer */

.footer_a{
    text-decoration: none;
    font-size: 14px;
  }
  
  /* GRID */
  
  
  .eleven { width: 91.53%; }
  
  /* COLUMNS */
  
  .col {
      display: block;
      float:left;
      margin: 1% 0 1% 1.6%;
  }
  
  .col:first-of-type {
    margin-left: 0;
  }
  
  .container_footer{
    width: 100%;

margin-top: 1.5%;
margin-bottom: 2.5%;
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* CLEARFIX */
  
  .cf:before,
  .cf:after {
      content: " ";
      display: table;
  }
  
  .cf:after {
      clear: both;
  }
  
  .cf {
      *zoom: 1;
  }
  
  /* GENERAL STYLES */
  
  .pagination{
    /* padding: 30px auto !important; */
    margin: 0 auto;
  }
  /* .footer_ul{
    margin: 0 auto;
  } */
  .pagination ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }
  
  .pagination a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
  }
  .goods_footer{
    display: block;
  }
  
  
  
  
  
  /* ELEVEN */
  .p11{
    text-align: center;
  }
  .p11 a{
    background-color: #2ecc71;
    margin: auto 20px;
    color: #fff;
    border: 3px solid #2ecc71;
    position: relative;
  }
  
  .p11 a:first-of-type:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -25px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 22px solid #2ecc71;
  }
  
  .p11 a:last-of-type:after{
    content: "";
    position: absolute;
    top: -3px;
    right: -25px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 22px solid #2ecc71;
  }
  
  .p11 .is-active{
    font-weight: bold;
  }
/* modal-cart */
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);


/*モーダルの横幅を変更したい場合*/

.openModal {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform:translate(-50%,-50%);
}
.modalArea {
  display: none;
  z-index: 90;
  /* position: absolute; */
  position:absolute;
  top: 120px;
  right: 300px;
/* margin:auto ; */
padding: 0;
  /* width: 100%; */
  /* height: 100%; */
}
.div-flex-home{
    display: flex !important;
}
.div-btween{
    justify-content: space-around !important;
}
.modal-title {
  font-family: 'Fredoka One', Helvetica, Tahoma, sans-serif;
  color: #fff;
  text-shadow: 1px 2px 0 #7184d8;
  font-size: 3.5em;
  line-height: 1.1em;
  margin-left: 20px;
  padding: 6px 0;
  font-weight: normal;
  text-align: center;
}
.tbody{
  overflow: scroll;
  height: 125px;
  -ms-overflow-style: none;
}

 /* Chrome, Safari 対応 */
 .tbody::-webkit-scrollbar {
  display:none;
 }
.modal-close{

  /* border: 1px solid #999; */
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 40px;
  height: 0;
  margin: 20px 20px 0 auto;
  padding: 0;
  /* border-radius: 100%; */
  /* width: 1.3em; */
  /* line-height: 1.3em; */
  cursor: pointer;
  transition: .2s;
  text-shadow: 1px 2px 0 #7184d8;
}
  

.modal-close:hover{
  background:#a699d3;
  border-color: #a699d3;
  color: gray;
  /* text-shadow: 1px 2px 0 #7184d8; */
}

/* page structure */
#w {
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 550px;
  font-size: 62.5%;
  height: auto;
  color: #414141;
  line-height: 1;
}

#title {
  display: flex;
  width: 100%;
  background: #95a6d6;
  padding: 10px 0;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#page {
  display: block;
  background: #fff;
  padding: 15px 0;
  height: auto;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/** cart table **/
#cart {
  display: block;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  color: #444;
}

#cart div div {
  padding: 1px 0;
  font-weight: bold;
  width: 100%;
}

/* #cart div div.first {
  width: 160px;
text-align: center;
}

#cart div div.second {
  width: 45px;
  text-align: center
}

#cart div div.third {
  width: 230px;
  text-align: center
}

#cart div div.fourth {
  width: 130px;
  text-align: center
}

#cart div div.fifth {
  width: 40px;
  text-align: center

} */

#cart div div {
  text-align: center;
  margin-top: 4px;
}

div.productitm {
  line-height: 65px;
  width: 100%;
  border-bottom: 1px solid #d7dbe0;
}


#cart div div img.thumb {
  vertical-align: bottom;
  border: 1px solid rgb(24, 22, 22);
  margin: 10px;
  /* margin-bottom: 4px; */
  width: 90px;
  height: 90px;
}

div.totalprice,
div.extracosts {
  height: 35px;
  line-height: 35px;
}

div.extracosts {
  background: #e4edf4;
}

.remove {
  /* http://findicons.com/icon/261449/trash_can?id=397422 */
  cursor: pointer;
  position: relative;
  right: 12px;
  padding-left: 20px;
  /* top: 3px; */
}


.light {
  color: #888b8d;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
  font-size: 1.1em;
  font-weight: normal;
}

.thick {
  color: #272727;
  font-size: 1.7em;
  font-weight: bold;
}


/** submit btn **/
div.checkoutrow {
  background: #cfdae8;
  border-top: 1px solid #abc0db;
  border-bottom: 1px solid #abc0db;
}

div.checkout {
  padding: 12px 0;
  padding-top: 20px;
  width: 100%;
  text-align: right;
}


/* https://codepen.io/guvootes/pen/eyDAb */
#submitbtn {
  width: 150px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0 0 10px 0;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  font-family: Arial, Tahoma, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid #0071ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66aaff), color-stop(100%, #4d9cff));
  background-image: -webkit-linear-gradient(#66aaff, #4d9cff);
  background-image: -moz-linear-gradient(#66aaff, #4d9cff);
  background-image: -o-linear-gradient(#66aaff, #4d9cff);
  background-image: linear-gradient(#66aaff, #4d9cff);
}

#submitbtn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d9cff), color-stop(100%, #338eff));
  background-image: -webkit-linear-gradient(#4d9cff, #338eff);
  background-image: -moz-linear-gradient(#4d9cff, #338eff);
  background-image: -o-linear-gradient(#4d9cff, #338eff);
  background-image: linear-gradient(#4d9cff, #338eff);
}

#submitbtn:active {
  border-bottom: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #338eff), color-stop(100%, #4d9cff));
  background-image: -webkit-linear-gradient(#338eff, #4d9cff);
  background-image: -moz-linear-gradient(#338eff, #4d9cff);
  background-image: -o-linear-gradient(#338eff, #4d9cff);
  background-image: linear-gradient(#338eff, #4d9cff);
  -webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25);
}
/*  */
.wishlist-heart-group {
  display: inline-block;
  height: 40px;
  position: relative;
  width: 30px;
  margin-top: 35px;
  margin-right: 10px;
}
.wishlist-heart-group input[type=checkbox] {
  left: -999999px;
  position: absolute;
  top: -999999px;
}
.wishlist-heart-group input[type=checkbox] + label svg {
  transform: rotate(0deg);
}
.wishlist-heart-group input[type=checkbox]:checked + label svg {
  -webkit-animation: wishlist-heart-wiggle 400ms 50ms forwards ease-in-out;
          animation: wishlist-heart-wiggle 400ms 50ms forwards ease-in-out;
}
.wishlist-heart-group input[type=checkbox]:checked + label svg .heart-path {
  -webkit-animation: wishlist-heart-add 300ms forwards;
          animation: wishlist-heart-add 300ms forwards;
  stroke: #f8332a;
}
.wishlist-heart-group input[type=checkbox] + label svg .heart-path {
  transition: fill 200ms;
}
.wishlist-heart-group input[type=checkbox] + label:hover svg .heart-path {
  transition: stroke 150ms linear;
  /* stroke: #f8332a; */
}
.wishlist-heart-group input[type=checkbox] + label:before {
  align-items: center;
  background-color: #000;
  border-radius: 3px;
  box-sizing: border-box;
  color: #FFF;
  content: attr(data-hover-text);
  display: flex;
  font-size: 0.8em;
  height: 25px;
  justify-content: center;
  left: 50%;
  line-height: 1;
  opacity: 0;
  padding: 0.5em;
  position: absolute;
  text-align: center;
  top: -2.25em;
  transform: translateX(-50%);
  transition: opacity 100ms linear;
  white-space: pre;
}

.wishlist-heart-group label {
  display: inline-block;
  position: relative;
  width: 100%;
}
@-webkit-keyframes wishlist-heart-wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes wishlist-heart-wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes wishlist-heart-add {
  0% {
    stroke-width: 5;
  }
  50% {
    stroke-width: 20;
  }
  100% {
    fill: #f8332a;
    stroke-width: 5;
  }
}
@keyframes wishlist-heart-add {
  0% {
    stroke-width: 5;
  }
  50% {
    stroke-width: 20;
  }
  100% {
    fill: #f8332a;
    stroke-width: 5;
  }
}

.syouhin-modal{
  display: none;
  position:absolute;
  width: 50vw;
  top: 120px;
  right:25vw;
  height: 500px;
  z-index: 90;
  background-color: #ffffff;
  padding: 0;
}
.syouhin-w{
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #414141;
  line-height: 1;
}

.qazimg{
width:400px;
height:400px;
mix-blend-mode: multiply;
}
.syousai{
  display: flex;
}
.con{
  display: grid;
  grid-template-rows: 130px 110px 115px 90px;
  grid-template-columns: 200px 170px 340px;
  width: 60%;
  margin-right: 0;
  /* background-color: #FFCCCC; */
  /* margin-top: 5%;
  margin-left: 30%;
  margin-right: 50%; */
}
.conq{
  display: grid;
  grid-template-rows: 130px 110px 115px 90px;
  grid-template-columns: 200px 170px 340px;
  width: 60%;
  margin-right: 0;
  background-color: #FFCCCC;
  /* margin-top: 5%;
  margin-left: 30%;
  margin-right: 50%; */
}
#c11{
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  /* background-color: red; */
}
.try{ /*カートボタンと試着ボタン*/
  background: white;
  color: black;
  border-radius:10px;
  width: 60%;
  padding: 3%;
  margin-bottom: 2%;
}
.favorite{/*お気に入りボタン*/
  background: white;
  color: black;
  border-radius:10px; 
  width: 15%;
  padding: 3%;
}
#c12{   /*ボタン*/
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  /* background-color: blue; */
   /* width: 300px;
  padding: 10px; */
  margin-left: 10%;
  font-size: 15px;
}

#c21{ /*商品名　サイズ　値段*/
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  /* background-color: yellow; */
  /* background-color: #FFCCCC; */
  white-space: pre-line;
  font-size: 20px;
}
#c22{ /*商品詳細*/
  grid-row: 2 / 5;
  grid-column: 3 / 4;
  /* background-color: #FFCCCC; */
  /* background-color: orange; */
  font-size: 20px;
}
/* profile */
.swiperModalButton {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

/* モーダル */
.modal-pro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  pointer-events: none;
  opacity: 0;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.9);
}
.position{
  position: relative;
}
/* モーダルがactiveの時 */
.modal-pro.is-active {
  opacity: 1;
  pointer-events: auto;
}

/* モーダル背景のオーバーレイ部分 */
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* モーダルのコンテンツ */
.modal__content {
  position: relative;
  width: 100%;
  height: 600px;
  max-width: 800px;
  padding: 20px;
}

.modal_inner {
  filter: drop-shadow(0px 0px 4px #ddd);
  background: #FFF;
  width: 90%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 20px 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 閉じるボタン */
.modal__close-btn {
  position: absolute;
  right: 0;
  top: -40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 20;
}

.modal__close-btn:hover {
  opacity: 0.8;
}

/* 閉じるボタンのX */
.lineClose {
  display: inline-block;
  vertical-align: middle;
  color: #313131;
  line-height: 1;
  width: 2rem;
  height: 0.1rem;
  background: currentColor;
  border-radius: 0.1rem;
  position: relative;
  transform: rotate(45deg);
}

.lineClose::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

p.swiperText {
  margin: 0;
  text-align: center;
}
.modal__close-btn{
  visibility: hidden;

}
.swiper-button-prev{
  /* visibility: hidden; */
  color: transparent;
  position: static;
}
.swiper-button-prev::after{
display: none;
}
.swiper-button-next{
position: static;
/* visibility: hidden; */
color: transparent !important;

}
/*  */
.button_solid004 a {
  width: 100px;
  height:40px;
  top: -150px !important;
  left:-150px !important;
  position: absolute;
  /* display: flex; */
  align-items: center !important;
  text-align: center !important;
  justify-content: center !important;
  /* margin: 0 auto; */
  max-width: 240px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: black;
  border-radius: 8px;
  border-bottom: solid 5px white;
}
.button_solid004 a:hover {
  border-bottom: solid 2px #1d7fde;
  transform: translateY(3px);
}
.modal-h4{
  margin-top: 0%;
}

.userh4{
    margin-top: 10px !important;
}
.btn-flat-border {
  /* display: inline-block; */

margin-bottom: 20px !important;
  white-space: nowrap;
  padding:2.5px 30px ;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: black;
  color: white;
}
.btn-flat-border1{
    /* display: inline-block; */
  position: absolute;
  top: 30px !important;
  margin-bottom: 30px !important;
    white-space: nowrap;
    padding:0px 30px !important;
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border1:hover {
    background: black;
    color: white;
  }

.kessaihouhou{
  position:absolute;
  top: 125px; 
  left:300px;
}

.haisousaki{
  position:absolute;
  top: 250px;
  left:300px;
}

.wakusenn{
  width: 100%;
  height:400px;
  padding-top: 50px;
}
.wakusennn{
    width: 100%;
    height:400px;
    padding-top: 70px;
  }
  

/*  */
.hennkou{
  width: 100px;
  height:40px;
}

.hennkou{
  background: black;
  color:white
}
.button-border{
  border: none;
  background-color: transparent;
}
.hennkou{
   position:absolute;
   top: 45px;
   left:400px
}

.button_solid005 a {
  width: 100px;
  height:40px;
  top: 45px;
  left:400px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: black;
  border-radius: 8px;
  border-bottom: solid 5px white;
}
.button_solid005 a:hover {
  border-bottom: solid 2px #1d7fde;
  transform: translateY(3px);
}
/*  */
.howpaypage{
  width: 800px;
  height: 550px;
}
.button-flex{
  display: flex;
  justify-content: space-around;
}
.button-padding{
  padding: 10px 50px;
}
/*  */
.list-all{
  width: 800px;
  height: 300px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.list-all::-webkit-scrollbar {
  display:none;
 }
.sample1{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding: 0;
}
.li{
  display: flex;

  position:relative;
  line-height: 30px;
  margin: 7px 0 10px 40px;
  padding-left:10px;
  font-weight: bold;
  font-size:14px;
  border-bottom:solid 1px #F6A38B;
}
.i-img{
  width: 50px;
  height: 50px;
  border: 1px solid #F6A38B;
}
.ko-gona{
padding-top: 10px;
margin-left: 50px;
}
.ko-dol{
padding-top: 10px;
margin: 0 50px 0 auto;
}
.list-address{
  width: 800px;
  margin-left: 30px;
}
.howhowpay{
  margin: 30px 0 0 50px;
}
.input-flex{
  display: flex;
}
.howpay-inp{
  margin-left: 20px;
border: 1px solid gray;
border-radius: 5px;
box-shadow: 2px 2px gray;
}
.sendday{
  margin: 30px 0 0 50px;
}
.sendday-inp{
  box-shadow: 2px 2px gray;
  margin-left: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.sendaddress{
  display: flex;
  margin: 30px 0 0 50px;
}
.sendaddress-inp{
  width: 400px;
  box-shadow: 2px 2px gray;
  margin-left: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.address-button{
  display: flex;
}
.submitbutton{
  margin: 25px 0 0 70px;

}
.swiperModalButton {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

/* モーダル */
.modal-kk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  pointer-events: none;
  opacity: 0;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.9);
}
.position{
  position: relative;
}
/* モーダルがactiveの時 */
.modal-kk.is-active {
  opacity: 1;
  pointer-events: auto;
}

/* モーダル背景のオーバーレイ部分 */
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* モーダルのコンテンツ */
.modal__content {
  position: relative;
  width: 100%;
  height: 600px;
  max-width: 800px;
  padding: 20px;
}

.modal_inner {
  filter: drop-shadow(0px 0px 4px #ddd);
  background: #FFF;
  width: 90%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 20px 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 閉じるボタン */
.modal__close-btn {
  position: absolute;
  right: 0;
  top: -40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 20;
}

.modal__close-btn:hover {
  opacity: 0.8;
}

/* 閉じるボタンのX */
.lineClose {
  display: inline-block;
  vertical-align: middle;
  color: #313131;
  line-height: 1;
  width: 2rem;
  height: 0.1rem;
  background: currentColor;
  border-radius: 0.1rem;
  position: relative;
  transform: rotate(45deg);
}

.lineClose::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

p.swiperText {
  margin: 0;
  text-align: center;
}
.modal__close-btn{
  visibility: hidden;

}
.swiper-button-prev{
  /* visibility: hidden; */
  color: transparent;
  position: static;
}
.swiper-button-prev::after{
display: none;
}
.swiper-button-next{
position: static;
/* visibility: hidden; */
color: transparent !important;

}
/*  */
.howpaypage{
  width: 700px;
  height: 450px;
  overflow: auto;
}
.button-flex{
  position: relative;
  display: flex;
  justify-content: space-around;
}
.button-padding{
  padding: 10px 50px;
}
/*  */
.list-all{
  width: 700px;
  height: 300px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.list-all::-webkit-scrollbar {
  display:none;
 }
.sample1{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding: 0;
}
.li{
  display: flex;

  position:relative;
  line-height: 30px;
  margin: 7px 0 10px 40px;
  padding-left:10px;
  font-weight: bold;
  font-size:14px;
  border-bottom:solid 1px #F6A38B;
}
.i-img{
  width: 50px;
  height: 50px;
  border: 1px solid #F6A38B;
}
.ko-gona{
padding-top: 10px;
margin-left: 50px;
}
.ko-dol{
padding-top: 10px;
margin: 0 50px 0 auto;
}
.list-address{
  width: 800px;
  margin-left: 30px;
}
.howhowpay{
  margin: 30px 0 0 40px;
}
.input-flex{
  display: flex;
  width: 700px;
}
.howpay-inp{
  /* margin-left: 20px; */
border: 1px solid gray;
border-radius: 5px;
box-shadow: 2px 2px gray;
width: 80%;
}
.sendday{
  margin: 30px 0 0 40px;
}
.sendday-inp{
  box-shadow: 2px 2px gray;
  margin-left: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 80%;
}
.sendaddress{
  display: flex;
  margin: 30px 0 0 50px;
}
.sendaddress-inp{
  width: 350px;
  box-shadow: 2px 2px gray;
  margin-left: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.address-button{
  display: flex;
}
.submitbutton{
  margin: 25px 0 0 70px;

}
.buttext{
color: white !important;
position: absolute;
}
.buytext{
  border-radius: 10px;
  width: 50px !important;
  height: 30px !important;
  border: none;
  margin-right: 50px;
  background-color: rgb(24, 126, 247);
  
}
.modalsityaku {
  display: none;
  z-index: 90;
  /* position: absolute; */
  position:absolute;
  top: 120px;
  right: 300px;
/* margin:auto ; */
padding: 0;
}