.item{
    display: grid;
    grid-template-rows: 95px 95px 65px 65px 65px 95px 45px;
    grid-template-columns: 250px;
    margin-top: 5%;
    /* background-color: antiquewhite; */
}

#image{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    /* background-color: red; */
    margin-left: 7%;
}

#itemPoint1{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    /* white-space: pre-line; */
    /* background-color: aqua; */
}
#itemPoint2{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    /* white-space: pre-line;
    background-color: aqua; */
}

#itemPoint3{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    /* white-space: pre-line; */
    /* background-color: aqua; */
}
#itemLook{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    background-color: blue;
}

#button{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    background-color: springgreen;
}

.tryButton{
    background: white;
    color: black;
    border-radius:10px;
    width: 41%;
    padding: 2%;
    margin-bottom: 2%;
}

.favoriteButton{
    background: white;
    color: black;
    border-radius:10px; 
    width: 13%;
    padding: 3%;
}
