

#mainArea{
    width: 300px;
    margin-left:auto; margin-right:auto;
    margin-top: 10%;
}

.head{
    font-weight: bold;
    margin-top: 50%;
    text-align: center;
    font-size: 47px; 
}

.mailmoji{
    text-indent: 239px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 11%;
}

.passmoji{
    text-indent: 239px;
    font-weight: bold;
    font-size: 24px;
}

.mail{
    text-align: center;
    
}
.pass{
    text-align: center;
    
}
.rog{
    width: 100%;
    text-align: center;
   
   
}



.aka{
    font-weight: bold;
    text-align: center;
    font-size: 33px;
    margin-top: 15%;

}
.shinki{
    
    text-align: center;
   



}
.no-border {
    border: none;
  }
  .txt-white {
    color: white;
  }
  .bkgnd-black {
    background-color: black;
  }
  .border-radius-50px {
    border-radius: 50px;
  }
  button.no-shadow:hover {
    box-shadow: none !important;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 180%;
  }
  
  button {
    margin: 1em;
    padding: 20px 46px;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s ease;
  }
