.button-tag {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
.main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}
  
.button-space {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
}

.touroku {
    margin: auto;
    padding: 20px 46px;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s ease;
      
}

.touroku1 {
    margin: auto;
    padding: 20px 46px;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s ease;
      
}
.touroku2 {
  margin: auto;
  padding: 20px 46px;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s ease;
    
}
.none{
    display: none;
}

.none1{
    display: none;
}
.none2{
  display: none;
}
.bkgnd-black {
    background-color: black;
}

.bkgnd-black1 {
    background-color: black;
}
.bkgnd-black2 {
  background-color: black;
}
.border-radius-50px {
    border-radius: 50px;
}

.border-radius-50px1 {
    border-radius: 50px;
}

.border-radius-50px2 {
  border-radius: 50px;
}
  
button.no-shadow:hover {
    box-shadow: none !important;
}

button.no-shadow1:hover {
    box-shadow: none !important;
}

button.no-shadow2:hover {
  box-shadow: none !important;
}
.txt-white {
    color: white;
}

.txt-white1 {
    color: white;
}

.txt-white2 {
  color: white;
}
.no-border {
    border: none;
}

.no-border1 {
    border: none;
}

.no-border2 {
  border: none;
}

.box{
	position:relative;
}

.hrap{
  margin-left: 15%;
  box-shadow: 5px 5px 5px #808080;
  width: 280px;
  border: 1px solid;
  border-radius: 8px;
  margin-top: 3%;
  margin-bottom: 3%;
}
#nana{
  display: flex;
  padding: 2.5% 0;
  flex-direction: row;
  flex-wrap: wrap;
}
.history{
  display: none;
}

  .gazou{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
  }

  .furaito{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
  }

  .kane{
    margin-top: 3%;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 3%;
  }

  .elu{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
  }
  .hensyu{
    width: 130px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 20px;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s ease;
  }
  .sakujyo{
    width: 130px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 20px;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s ease;
  }
  /* 商品名 */
  .s{
   width: 70%;
   line-height: 1.4px;
   border: 1px solid #000;
   background: #f2f2f2;
   margin-left: 10%;
  }
  .syo{
    margin-left: 10%;
    margin-top: 10%;
  }
  /* 選択 */
  .b{
    border: 1px solid #000;
    background: #f2f2f2;
    margin-left: 10%;
  }
  .sen{
    margin-left: 10%;
  }
  
  .k{
    border: 1px solid #000;
    background: #f2f2f2;
  }
  
  .saizu{
    border: 1px solid #000;
    background: #f2f2f2;
  }
  /* 値段 */
  .ne{
    margin-left: 10%;
  }
  .n{
    width: 70%;
    border: 1px solid #000;
    background: #f2f2f2;
    margin-left: 10%;
  }
  /* 特徴 */
  .to{
    margin-left: 10%;
  }
  .t{
    width: 70%;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
    line-height: 1.5;
    height: 6em;
    margin-left: 10%;
  }
  .ga{
   margin-left: 5%;
  }
  .kakunin{
    margin-left: 50%;
  }