.button-tag {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
.main {
    display: flex;
    flex-direction: column;
    align-items: center;

}
  
.button-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    
}
  
.touroku {
    margin: auto;
    padding: 20px 46px;
    font-size: 1em;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.6s ease;
      
}
.grid-cen{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.none{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.no-border {
    border: none;
    margin-left:130px;

}
  .ai{
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 5% auto 0;
  }
.txt-white {
    color: white;
	  margin-right:130px;
}
  
.bkgnd-black {
    background-color: black;
}
.border-radius-50px {
    border-radius: 50px;
}
  
button.no-shadow:hover {
    box-shadow: none !important;
}
  
.box{
	position:relative;
}


.rireki{
	position:absolute;
	right:330px;
	
}

.mei{
    position:absolute;
    left:330px;
	
}


.kin{
    position:absolute;
    left:330px;
	
}

.sai{
    position:absolute;
    left:330px;
	
}
.history{
  margin-left: 5%;
  box-shadow: 5px 5px 5px #808080;
  width: 280px;
  border: 1px solid;
  border-radius: 8px;
  display: none;
  margin-top: 3%;
  margin-bottom: 3%;
}
.gazou{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;
}

.furaito{
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.kane{
  margin-top: 3%;
  margin-left: 16%;
  margin-right: 16%;
  margin-bottom: 3%;
}

.elu{
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.hensyu{
  width: 130px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  border: none;
  color: white;
  background-color: black;
  border-radius: 50px;
  padding: 20px;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s ease;
}

.sakujyo{
  width: 130px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  border: none;
  color: white;
  background-color: black;
  border-radius: 50px;
  padding: 20px;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s ease;
}
/* 確認ボタン */
.kakunin{
  margin-left: 40%;
  margin-top: -5%;
  
}
/* 商品名 */
.syo{
   margin-left: -1%;
}
.s{
  width: 40%;
  border: 1px solid #000;
   background: #f2f2f2;
  
}
/* 分類 */
/* .bun{
  margin-left: -30.5%;
} */
.b{
  border: 1px solid #000;
   background: #f2f2f2;
}
/* カテゴリー*/
/* .ka{
  margin-top: -3%;
} */
.k{
  border: 1px solid #000;
  background: #f2f2f2;
}
/* サイズ */
/* .sa{
  margin-left: 30%;
  margin-top: -3%;
} */
.saizu{
  border: 1px solid #000;
  background: #f2f2f2;
}
/* 値段 */
/* .ne{
   margin-left: -28.5%;
} */
.n{
  width: 40%;
  border: 1px solid #000;
  background: #f2f2f2;
}
/* 特徴 */
/* .to{
  margin-left: -22.5%;
} */
.t{
  width: 40%;
  line-height: 3;
  padding: 1em 0.5em;
  border: 1px solid #000;
  background: #f2f2f2;
}
/* 画像 */
.ga{
  margin-left: -30%;
  margin-top: 5%;
}
ul {
  display: -webkit-flex;
  display: flex;
  margin-left: 25.1%;
  gap: 6px 50px;
  list-style-type: none;
}