
.box{
	position:relative;
	height:100px;
}

.toroku{
	position:absolute;
	left:300px;
	top:10px;
}

.rireki{
	position:absolute;
	right:300px;
	top:10px;
}

.mei{
    position:absolute;
    left:130px;
	top:10px;
}

.kin{
    position:absolute;
    left:130px;
	top:30px;
}

.sai{
    position:absolute;
    left:130px;
	top:50px;
}